body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.jumbotron h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 6cm;
    margin-bottom: 3cm;
}

main img {
    border: 2px solid #555;
    border-radius: 8px;
}

header {
    background-image: url('Prometheus-giving-man-fire-Greek-mythology.jpg');
    background-size: cover;
    background-position: center;
    padding: 2em;
    position: relative;
    text-align: center;
    color: rgb(25, 64, 103);
}

nav a:hover {
    background-color: #928e8e;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav {
    background-color: #444;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #868686;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 2px;
}

section h2 {
    color: #333;
}

.table thead th {
    background-color: #6c757d;
    /* Dark gray background color */
    border-radius: 10px 10px 0 0;
    /* Rounded corners on top */
}

.table td,
.table th {
    border: 1px solid #dee2e6;
    padding: 15px;
    /* Increased padding for better spacing */
    border-radius: 10px;
    /* Rounded corners for cells */
}

.attribute-logo {
    width: 24px;
    /* Adjust the width as needed */
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
}

.bottom-link {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-decoration: none;
}

.bottom-link:hover {
    color: blue;
    text-decoration: underline;
}